body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bbada0; /* Background color similar to the 2048 game */
}

.start-page {
  text-align: center;
}

.card {
  background-color: #eee4da; /* Light background color for the card */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  color: #776e65; /* Game-like title color */
}

p {
  font-size: 18px;
  color: #776e65;
  margin-bottom: 20px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #8f7a66; /* Button color similar to the 2048 tiles */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a39383; /* Button color on hover */
}
